<div class="user">
    <div class="panel panel-default" style="border-radius:0px;">
        <div class="panel-body">
            <div class="user-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Edit User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="value in about">
                            <td class="text-center">{{value.firstName}} {{value.lastName}}</td>
                            <td class="text-center">{{value.email}}</td>
                            <td class="text-center btn-edit">
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default" type="button"><i class="fa fa-pencil"></i>
                                        <md-tooltip>
                                            Edit
                                        </md-tooltip>
                                    </button>
                                    <button class="btn btn-xs btn-default" type="button"><i class="fa fa-times"></i>
                                        <md-tooltip>
                                            Delete
                                        </md-tooltip>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>