<div class="dashboard">
    <div class="row">
        <div class="col-md-3">
            <div class="card card1">
                <div class="col-xs-4">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="col-xs-8">
                    <p class="score">54</p>
                    <p class="comments">Tweets</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card2">
                <div class="col-xs-4">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="col-xs-8">
                    <p class="score">54</p>
                    <p class="comments">Comments</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card3">
                <div class="col-xs-4">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="col-xs-8">
                    <p class="score">54</p>
                    <p class="comments">Likes</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card4">
                <div class="col-xs-4">
                    <i class="fa fa-google-plus"></i>
                </div>
                <div class="col-xs-8">
                    <p class="score">54</p>
                    <p class="comments">Comments</p>
                </div>
            </div>
        </div>
    </div>
    <div class="highcharts">
        <highchart id="chart1" config="chartConfig"></highchart>
    </div>
    <div class="highcharts2">
        <highchart id="chart2" config="pieChart"></highchart>
    </div>
</div>